antlr aopalliance asm avalon-framework backport-util-concurrent biz bouncycastle cglib ch classworlds cn com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-configuration commons-digester commons-discovery commons-fileupload commons-httpclient commons-io commons-jxpath commons-lang commons-logging commons-net commons-validator dom4j eu io jakarta jakarta-regexp javassist javax jaxen jdom jline joda-time jtidy junit log4j logkit mysql net ognl org oro plexus README rome sslext stax tomcat urbanophile wsepr xalan xerces xml-apis xmlpull xml-resolver xmlunit xpp3
